*{

  padding:0px;
  box-sizing:border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

/*top-nav panel classes*/
.topnav {
  overflow: hidden;
  background: linear-gradient(to right, #0099ff 0%, #00cc99 ,transparent 90%);
  position: fixed;
  width:100%;
  padding-bottom:0px;
  z-index: 10;

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 300;
  height: 100%;

}

.topnav a:hover {
   background: linear-gradient(to bottom left, #00ffff 0%, #ff66ff 100%);
  color: black;
}

.topnav a.active {
background: linear-gradient(to right, #00ffff 0%, #0099ff 100%);
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav{
    background: linear-gradient(to right, #121212 0%, #c18315 100%);
    width: 100%;
  }
  body{
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .full-width{width:100%;}


}

/*side-nav classes starts here*/
.mySlides {display: none}
#mySidenav a {
position: fixed;
right: -145px;
transition: 0.3s;
padding: 15px;
width: 180px;
text-decoration: none;
font-size: 20px;
color: white;
border-radius: 0 5px 5px 10px;
z-index: 10;
}
@media screen and (max-width: 600px) {
  #mySidenav a{
    right:-145px;
  }
}

#mySidenav a:hover {
right: -40px;

}

#about {
top: 60px;
background: black;

}

#blog {
top: 130px;
background: linear-gradient(to top, #9933ff 0%, #ff3399 100%);

}

#projects {
top: 200px;
background: linear-gradient(to bottom, #0000cc 0%, #0000ff 100%);

}

#twitter {
top: 270px;

background: linear-gradient(to bottom, #3333ff 0%, #6699ff 100%);
}
#mail{
  top:340px;
  background-color: #ff4d4d;
}


/* slider panel starts here*/
.slider-body{
  margin-left: 0;
  padding-left: 0;
  height: 120vh;
  display: flex;
  justify-content:center;
  align-items: center;
  z-index: -1;
  background: linear-gradient(to bottom,black 50%, transparent 95%);
}

.slider{
  width: 100%;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;

  text-align: center;

  margin-top: 100px;
  box-shadow: 1px 2px 10px 5px gray;

}
.slides{
  width: 500%;
  height: 600px;
  display: flex;
}
.slides input{
  display: none;
  width: 5px;
}

.slide{
  width: 20%;
  transition: 2s;
  position: relative;

  color: white;
}
.slides img{
  width: 100%;
  height: 600px;
}
.slide-text{
  position: absolute;
  width: 100%;
  bottom:50px;
  text-align: center;
  margin:auto;
  font-size: 16px;
  font-weight: 300;
  color:#c1b9b9;
  letter-spacing: 2px;
  font-family: 'poppins' sans-serif;
}

.navigation-manual{
  position: absolute;
  width: 90%;
  margin-top: -40px;
  display: flex;
  justify-content: center;

}

.manual-btn{
  border:2px solid #40D3DC;
  padding:5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;

}


.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked~.first{
  margin-left: 0;
}
#radio2:checked~.first{
  margin-left: -20%;
}
#radio3:checked~.first{
  margin-left: -40%;
}
#radio4:checked~.first{
  margin-left: -60%;
}


.navigation-auto{
  position: absolute;
  display: flex;
  width: 90%;
  justify-content: center;
  margin-top:560px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;

}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}
#radio2:checked~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}
#radio3:checked~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}
#radio4:checked~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}


/* container portion starts here */


.container{
  padding:3px;
  width: 100%;

}

.welcome-msg{

  text-align: center;
  letter-spacing: 3px;
  width: 80%;
  margin: auto;

  font-family: sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;




}
.description{
  color:gray;
}

.container .parallax1{
  background:white;
  background-size:cover;
  background-attachment: fixed;
  height:auto;
}
.image-dev{
  display: block;
  margin:auto;

  height: auto;
  transition: 0.5s;
  transform: scaleX(1);
  transform-origin: left;

}

.about{
text-align: center;
margin:0px;
padding:0px;
position: relative;
width:100%;
}
.about h2,h3{
  position: relative;
  margin: 0;

  padding: 0;
  text-align: center;
  font-size: 42px;
  display: inline-block;
  transition: 0.5s;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.about h2 span{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width:0%;
  background-color:#bbeb1e;
  animation: overlay 5s ease infinite;
}
@keyframes overlay {
  0%{
     width: 100%;
     left:0;
     right:100%;
  }
  20%{
    width: 0%;
    left:0%;
    right:0;
  }
  40%{
    width: 100%;
    right:100%;
    left:0%;
  }
  70%{
    width: 0;
    right:100%;
    left:100%;
  }
  100%{
    width: 100%;
    left:0;
    right: 100%;
  }
}

.about .para1{
  width: 100%;
  padding: 20%;
  color:white;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;


  padding: 10px;
  border-radius: 10px;
  margin-bottom: 40px;
}
.profile-pic{
  width: 200px;
  height: auto;
  margin:auto;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 1px 2px 10px 0px #718088;
  transition-duration: .5s;
  animation: waveos 2s linear infinite;
}
@keyframes waveos {
  0%{
    box-shadow: 1px 2px 20px 5px #afae61;
  }
  20%{
    box-shadow: 1px 2px 20px 7px #d1de5b;
  }
  40%{
    box-shadow: 1px 2px 20px 10px #e8e80a;
  }
  60%{
    box-shadow: 1px 2px 30px 15px #eab505;
  }
  80%{
    box-shadow: 1px 2px 30px 20px #ec7e09;
  }
  100%{
    box-shadow: 1px 2px 20px 5px #de7d7d;
  }

}

.skill{

  padding;0;
  margin:0;
  background: linear-gradient(to bottom, #b354e2 45%, #ffffff 45%);
  padding-top: 40px;
  margin-bottom: 100px;
  width: 100%;
}
.detail{
  width: 80%;
  background-color: white;
  border-radius: 15px;
  padding: 40px;
  display:flex;
  margin:auto;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

}
.detail .div11{

  width: 100%;

}
@media screen and (max-width: 800px) {
  .about .detail .div11{
    width:100%;
  }
  .hr{

    display: none;
  }
}
.hr{

  width: 1px;
  color:black;

}
.me-text{
  color:#8c8a85;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  transition-duration: 1s;
  cursor: pointer;
}
.me-text:hover{
  font-size: 30px;
}

.fullbar{
  width:90%;

  background-color:gray;
  border:0px solid gray;
  border-radius:10px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.probar{


  background-color:cyan;
  border:2px solid cyan;
  border-radius:10px;
  margin:0px;
  padding:0px;
  height:10px;
}
.progress{
  text-align:left;
  color: #8c8a85;
  cursor: pointer;
  transition-property: font-size;
  transition-duration: 2s;
  width: 60%;
}


.proj{

  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  transform-style: preserve-3d;
}

.proj .box{
  position: relative;
  width: 300px;
  height: 400px;
  margin:40px;
  background: #232323;
  border-radius: 20px;
  transform-style: preserve-3d;
}

.proj .box::before{

  position:absolute;
  top:20px;
  left:15px;
  font-size: 5em;
  font-weight: 900;
  color:white;
  font-style: italic;
  opacity: 0.2;
}

.proj .box::after{

  position:absolute;
  bottom: 20px;
  right:10px;
  font-size: 4.5em;
  font-weight: 900;
  color:white;
  font-style: italic;
  opacity: 0.2;
  transition: 0.5s;
}
.proj .box:nth-child(1)::after{
  content: "web-app"
}
.proj .box:nth-child(2)::after{
  content: "IOT"
}
.proj .box:nth-child(3)::after{
  content: "AI WEB"
}

.proj .box:nth-child(1)::before{
  content: "vision-T"
}
.proj .box:nth-child(2)::before{
  content: "piBo"
}
.proj .box:nth-child(3)::before{
  content: "lano-S1"
}

.proj .box:hover::before,
.proj .box:hover::after{
  opacity: 0.5;
}

.proj .box .name{
  position: absolute;
  top:0;
  left:0;
  text-align: center;
  color: white;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0,0,75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.proj .box:hover .name{
  top:25px;
  opacity: 1;
}

.proj .box .buy{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(0,0,75px);
  color: white;
  background: #333;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}
.proj .box:hover .buy{
  bottom:30px;
  opacity: 1;
}

.proj .box .circle{
  position: absolute;
  top:50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.5s;
  background: white;
  box-shadow: inset 0 0 50px rgba(0,0,0,0.8);
  transform-style: preserve-3d;
  z-index: 10;
  opacity: 1;
  transform: translate3d(-50%,-50%,50px);

}

.proj .box .product{
  position: absolute;
  top:50%;
  left:50%;
  max-width:250px;
  z-index: 11;
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: translate3d(-50%,-50%,80px);
}
.proj .box:hover .product{
  transform: translate3d(-50%,-50%,150px);
}

.projr .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy{
  background:#25acc1;
}
.proj .box:nth-child(2) .circle,
.proj .box:nth-child(2) .buy{
  background:#e42222;
}
.proj .box:nth-child(3) .circle,
.proj .box:nth-child(3) .buy{
  background:#9bdc28;
}
.my-work h2{
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-family: sans-serif;
  letter-spacing: 3px;
  margin: 0;
  padding: 10px;
  color: white;
}

.my-work{


  align-items: center;
  height: auto;
  background: linear-gradient(to bottom,#131313 60%,gray,transparent 100%);
  margin:0;
  padding:0;}


.hello{
  margin: 0;
  border:5px solid #9c39e2;
  color:#9c39e2;
  border-radius: 20px;
  width:150px;
  height: 40px;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  top:50px;
  position: absolute;
  right: 35px;

}
.hello:hover{
  color:black;
  background-color: #9c39e2;
}
a{
  text-decoration: none;
}
.contact{
  margin-top: 40px;
  width: 100%;
  margin-bottom: 200px;
  margin-top:100px;
}
.contact .con{
  padding-top: 20px;
  text-align: center;
  color:#373a38;
  font-family: 'Staatliches', cursive;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 30px;
}
.startcon{
  margin-top:20px;
  margin-bottom: 20px;
  margin:auto;
  border:5px solid #9c39e2;
  display: inline-block;
  border-radius: 35px;
  width:250px;
  height:50px;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-weight: 200;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  margin-top:20px;
  margin-bottom: 20px;
  font-size: 20px;

}
.footer{
  background:linear-gradient(to bottom,white 10% ,#9c20e4 10%,#bf4bdc);
  color:#dad2d2;
  font-family: 'Staatliches', cursive;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;

}
.footer p{
  width: 80%;
  margin: auto;
}
.footer-icon a{
  text-decoration: none;
}
.footer-icon a:hover{
  color:gray;
}
.footer{
  text-align: center;
}
.ref-link a{
  text-decoration: none;
  color:
}
.ref-link a:hover{
  color:yellow;
}
.branding{
  cursor: pointer;
}
.branding:hover{
  color:#e08119;

}

.join{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding:10px;
  margin:auto;
  width: 80%;
  background-color: #14182f;
  color:white;
  font-family: 'Staatliches', cursive;
  letter-spacing: 2px;
  font-weight: 200;
  border-radius: 20px;
  text-align: center;

}
